.vscode
bom
firmware/esp32/main/build/**
firmware/esp32/build/**
firmware/esp32/components/bluepad32*
firmware/esp32/components/btstack*
*.gbr*
*.drl
*.zip
*bak
*.hex
firmware/esp32/data/1080p.bit
firmware/esp32/data/720p.bit
