[submodule "arduino"]
	path = esp32/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "esp32/external/bluepad32_template"]
	path = esp32/external/bluepad32_template
	url = https://gitlab.com/ricardoquesada/esp-idf-arduino-bluepad32-template.git
