[submodule "arduino"]
	path = esp32/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "esp32/external/bluepad32"]
	path = esp32/external/bluepad32
	url = https://gitlab.com/ricardoquesada/bluepad32.git
